[run]
source =
    i18n
    main.py
    cli.py

omit =
    tests/*
    setup.py
    */site-packages/*
    */__pycache__/*
    */dist/*
    */build/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError

[xml]
output = coverage.xml